@()
    @breadCrunb = {
        /<a href="#"><b>@Messages("gestionApplication")</b></a>
    }
@main()(breadCrunb) {
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation">
                        <a href="/administration_application/utilisateur" class="list-group-item">
                            <h4 class="list-group-item-heading">@Messages("utilisateurs")</h4>
                            <p class="list-group-item-text">@Messages("utilisateursDescription")</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="/administration_application/autorisation" class="list-group-item">
                            <h4 class="list-group-item-heading">@Messages("autorisations")</h4>
                            <p class="list-group-item-text">@Messages("autorisationsDescription")</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

}