@()(breadCrumb: Html)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("application")</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("yeti/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.ico")'>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        @Messages("application")
                    </a>
                </div>
                <div class="collapse navbar-collapse">

                </div>
            </div>
        </div>

        <div style="padding-top : 5 px ; padding-left : 90 px ; padding-right : 10 px ;">
            <div id="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/"><span class="glyphicon glyphicon-home"/></a></li>
                    @breadCrumb
                </ol>
            </div>
        </div>

        <div style="padding-top : 50 px ; padding-left : 10 px ; padding-right : 10 px ;">
        @content
        </div>

        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <p class="navbar-text pull-left">@Html(Messages("messageFooterContact"))</p>
                <p class="navbar-text pull-right">@Html(Messages("messageFooterEtablissement"))</p>
            </div>
        </div>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/main.js")'></script>
    </body>
</html>
