@(utilisateurForm: forms.UtilisateurForm)
    @breadCrumb = {
        /<a href="/administration_application">@Messages("gestionApplication")</a>
        /<a href="/administration_application/utilisateur">@Messages("Utilisateurs")</a>
        /<a href="#"><b>@Messages("ficheUtilisateur")</b></a>
    }
@main()(breadCrumb) {
    <div class="container">
        <h3><span class="label label-primary">@utilisateurForm.nom.get @utilisateurForm.prenom.get</span></h3>
        <br/>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="@routes.Assets.at("images/utilisateur.png")" alt="@Messages("photo")"/>
                </a>
            </div>
            <div class="media-body">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-6">
                            @Messages("nomUtilisateur") : @utilisateurForm.nomUtilisateur.get
                        </div>
                        <div class="col-md-6">
                            @Messages("email") : @utilisateurForm.email.get
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Messages("nom") : @utilisateurForm.nom.get
                        </div>
                        <div class="col-md-6">
                            @Messages("prenom") : @utilisateurForm.prenom.get
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md2 col-md-offset-5">
                <a class="btn btn-default btn-primary" href="/administration_application/utilisateur/modifierCreerUtilisateur?id=@utilisateurForm.idUtilisateur.get">@Messages("modifier")</a>
                <a class="btn btn-default" href="/administration_application/utilisateur/supprimerUtilisateur?id=@utilisateurForm.idUtilisateur.get">@Messages("supprimer")</a>
            </div>
        </div>
    </div>
}